<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ida:ClientId" value="7963e407-a64c-4a76-b122-22c86cc1cf2d"/>
    <add key="ida:AppKey" value="m/V/Sl5CxtO46kWI2+rO7tXH3/R03H7p/Bd0FI2Pv6w="/>
    <add key="ida:Tenant" value="azuresamplead.onmicrosoft.com"/>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}"/>
    <add key="ida:RedirectUri" value="https://localhost:44300/"/>
    <!--<add key="ida:PostLogoutRedirectUri" value="https://localhost:44322/"/>-->
    <add key="todo:TodoListResourceId" value="https://azuresamplead.onmicrosoft.com/AuthService"/>
    <!--<add key="todo:TodoListBaseAddress" value="https://localhost:44321"/>-->
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
